{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background: #E9F5F5;
      }

    .login-container {
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 250px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .logo-container {
        text-align: center;
        margin-bottom: 20px;
    }
    .login-form {
        margin-top: 20px;
    }
    .register-link,
    .vendor-link {
        text-align: center;
        margin-top: 10px;
    }
    .login-head {
        text-align: center;
    }
    .booking-container {
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .booking-card {
        width: 250px;
        margin-bottom: 20px;
    }

    .card-img-top {
        object-fit: cover;
        height: 150px;
        border-radius: 8px 8px 0 0;
    }

    .card-body {
        text-align: center;
    }
</style>
<div class="container">
    <div class="logo-container">
        <img src={% static 'assets/logo.png' %} alt="Logo" width="100">
    </div>
    <div class="login-container">
        <div class="login-head">
            <h5>Log in to your account</h2>
        </div>
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Login</button>
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </form>
        <div class="register-link">
            <p>Don't have an account?<a href={% url "user_register" %}>Register here</a></p>
        </div>
        <div class="vendor-link">
            <p>Are you a vendor?<a href={% url "vendor_login" %}>Vendor login</a></p>
        </div>
    </div>
</div>
{% endblock content %}
