{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

<style>
            /* for the category section  */
            
            .category-container {
                margin: auto;
                margin-top: 10px;
                display: flex;
                justify-content: space-around;
            }
    
            .category-card {
                text-align: center;
            }
    
            .category-img {
                object-fit: cover;
                height: 100px;
                border-radius: 8px;
            }

            /* for the booking section  */

        .booking-container {
            margin: auto;
            margin-top: 80px;
            margin-bottom: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .booking-card {
            width: 250px;
            margin-bottom: 20px;
        }

        .booking-img {
            object-fit: cover;
            height: 150px;
            border-radius: 8px 8px 0 0;
        }

        .card-body {
            text-align: center;
        }

</style>
<div class="container-fluid">
    <div class="category-container">
        <div class="category-card">
            <a href="{% url "search_venue" %}">
                <img src= {% static "assets/Premium_Venues.png" %} class="category-img" alt="Wedding">
            </a>
        </div>
        <div class="category-card">
            <a href="{% url "search_venue" %}">
                <img src={% static "assets/Weddings.png"%}  class="category-img" alt="Wedding">
            </a>
        </div>
        <div class="category-card">
            <a href="">
                <img src= {% static "assets/Engagement.png" %}  class="category-img" alt="Wedding">
            </a>
        </div>
        <div class="category-card">
            <a href="">
                <img src= {% static "assets/Birthday.png" %}  class="category-img" alt="Wedding">
            </a>
        </div>
        <div class="category-card">
            <a href="">
                <img src= {% static "assets/Family_Functon.png" %}  class="category-img" alt="Wedding">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="booking-container">
        {% for venue in venues %}
        <div class="booking-card card">
            <img src="media/{{venue.image}}" class="booking-img" alt="Category 1">
            <div class="card-body">
                <h5 class="card-title">{{venue.business_name}}</h5>
                <span>
                    <a href={% url "venue_details" venue.id %} class="btn btn-danger">More Details</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

