{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include "navbar.html" %}
<style>
          /* venue details  */
        .venue-details-container {
            margin: auto;
            padding: 3rem 10rem;
        }

        .venue-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            gap: 300px;
        }

        .venue-photo img {
            border-radius: 10px;
            width: 40vw;
            height: 50vh;
            object-fit: cover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .venue-details {
            flex: 1;
            text-align: right;
        }
        .venue-details h1 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #333333;
        }
        .basic-details {
            margin-bottom: 20px;
            color: #555555;
        }

        .basic-details p {
            margin: 0;
            line-height: 1.5;
        }

        .request-pricing button {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .request-pricing button:hover {
            background-color: #0056b3;
        }

        .short-description ,
        .services {
            margin-bottom: 20px;
        }

        .short-description h2 ,
        .services h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #333333;
        }

        .short-description p,
        .services ul {
            margin: 0;
            line-height: 1.5;
            color: #555555;
        }

        .services li {
            margin-bottom: 5px;
        }

        .badge{
            background-color: black;
            border-radius: 5px;
            padding: 4px 8px;
            color: white;
        }
</style>
<div class="venue-details-container">
    <div class="venue-top">
        <!-- Venue Photo -->
        <div class="venue-photo">
            <img src="/media/{{venue.image}}" alt="Venue Photo">
        </div>

        <!-- Venue Details -->
        <div class="venue-details">
            <!-- Basic Details -->
            <div class="basic-details">
                <h1 style="">{{venue.business_name}}</h1>
                <span class="badge">{{venue.category}}</span>
                <p>Place:{{venue.city}}</p>
                <p>Capacity: {{venue.capacity}}</p>
                {% if venue.ac %}
                <p>A/C</p>
                {% endif %}
                <p>check availability</p><br>
                <form action="{% url "booking_request" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="venue" value="{{venue.id}}">
                    <input type="hidden" name="user" value="{{user.id}}">
                    <div class="form-group">
                        <input  type="date" id="dateInput" name='date' required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="persons" name="persons" placeholder="No of persons" required>
                    </div>
                    <div class="request-pricing">
                        <button type="submit">Request Pricing</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Short Description -->
    <div class="short-description">
        <h2>About the Auditorium</h2>
        <p>{{venue.desc}}</p>
    </div>
    <iframe src="{{venue.location}}" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    
    {% comment %} <!-- Services Provided -->
    <div class="services">
        <h2>Services Provided</h2>
        <ul>
            <li>Service 1</li>
            <li>Service 2</li>
            <li>Service 3</li>
        </ul>
    </div> {% endcomment %}
</div>
{% endblock content %}


