{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

  <style>
    /* for the bookiing section  */
    .card {
      width: 100%;
      margin-bottom: 50px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .card-header {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border-radius: 8px 8px 0 0;
    }
    
    .card-body {
      padding: 20px;
    }
    
    .status-pending {
      color: #ffc107;
    }
    
    .status-confirmed {
      color: #28a745;
    }
    
    .status-cancelled {
      color: #dc3545;
    }
    
    .auditorium-details {
      margin-top: 15px;
      border-top: 1px solid #dee2e6;
      padding-top: 10px;
    }
    
    .download-button {
      display: block;
      margin-top: 15px;
    }
  </style>
  <div class="container">
    {% for booking in all_booking %}
    <div class="card">
      <div class="card-header">
        <span>Booking ID: {{booking.id}}</span><br>
        <span class="text-white">Booked On:{{booking.created_at}}</span>
      </div>
      <div class="card-body">
        <p>Date of Booking: {{booking.date}}</p>
        <p>No of persons : {{booking.persons}}</p>
        <div class="auditorium-details">
          <h5>Auditorium Details</h5>
          <p>Auditorium: {{booking.vendor}}</p>
        </div>
        {% if not booking.paid %}
        {% if booking.billed %}
        <div>
          <p>Total Amount : {{booking.Total}}/-</p>
          <p>Advance to be Paid : {{booking.Advance}}/-</p>
        </div>
        <a href="{% url "pay_advance" booking.id %}" class="btn btn-primary" >Pay Advance</a>
        {% endif %}
        <a href="{% url "cancel_booking" booking.id %}" class="btn btn-danger" >Cancel Request</a>
        {% endif %}
        {% if booking.paid %}
        <p>Balance to be paid (Total-Advance):{{balance}}</p>
        <p class="text-success">Booking Confirmed</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
