<!-- home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <a href="">logo</a>
        <input type="text" name='serach' placeholder="search">
        <a href="profile">profile</a>
    </div>
    <div>
        {% for category in categories_list %}
        <a href="">{{category.category}}</a>
        {% endfor %}
    </div>
    <div>
        {% for venue in venues %}
        <div>
            <img src="" alt="image"><br>
            <span>Name : {{venue.business_name}}</span><br>
            <span>place : {{venue.city}}</span><br>
            <span>phone number: {{venue.phone_number}}</span><br>
            <span>Location: </span><br>
            <a href="venue_details">Request Pricing</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
